.container-f {
  margin-top: 50px !important;
  padding-top: 0px !important;
}

.whatishiv {
  margin-top: 0px !important;
}

.horizontal-view {
  height: auto;
  padding-bottom: 20px;
}

.horizontal-view button::before {
  color: #9fd5ec;
  font-size: 28px;
}

.horizontal-view .content {
  width: 100%;
  height: auto;
}

.horizontal-view .content .left-content {
  display: inline-block;
  width: 400px;
  height: 400px;
  padding: 10px;
  float: left;
}

.horizontal-view .content .left-content .border-img {
  width: 380px;
  height: 380px;
  background: linear-gradient(30deg, #9d5bfe 0%, #3890fe 100%);
  border-radius: 500px;
  position: relative;
  overflow: hidden;
}

.horizontal-view .content .left-content .border-img img {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.horizontal-view .content .left-content .border-img ul {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -300px;
  background: -webkit-gradient(linear, left bottom, left top, from(#7C6CFE), to(#5B7EFE));
  background: linear-gradient(0deg, #7C6CFE, #5B7EFE);
  border-radius: 100%;
  overflow: hidden;
}

.horizontal-view .content .left-content .border-img ul .list-wrapper {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 22px;
  text-align: center;
}

.horizontal-view .content .left-content .border-img ul .list-wrapper li {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0px 5px;
  border: 0px;
}

.horizontal-view .content .left-content .border-img ul .list-wrapper li a {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 25px;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  border: 1px solid white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.horizontal-view .content .left-content .border-img ul .list-wrapper li:hover a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #ff7f85;
  border: 1px solid orangered;
}

.horizontal-view .content .right-content {
  display: inline-block;
  float: left;
  width: calc(100% - 400px);
  height: 400px;
  background-color: white;
  padding: 20px 35px;
}

.horizontal-view .content .right-content .name {
  all: unset;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #444444;
}

.horizontal-view .content .right-content .job {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 58px;
  color: #444444;
}

.clear-left {
  clear: left;
}

@media (max-width: 913px) {
  .left-content, .right-content {
    float: none !important;
    width: 100% !important;
  }
  .left-content {
    text-align: center;
  }
  .left-content .border-img {
    display: block;
    margin: auto;
  }
}

@media (max-width: 722px) {
  .left-content {
    height: 330px !important;
  }
  .left-content .border-img {
    width: 310px !important;
    height: 310px !important;
  }
  .left-content .border-img ul {
    bottom: -230px !important;
  }
  .left-content .border-img ul .list-wrapper li a {
    font-size: 20px !important;
  }
  .left-content .border-img img {
    width: 300px !important;
    height: 300px !important;
  }
  .right-content {
    padding: 20px 5px !important;
  }
}

.html {
  overflow-x: hidden !important;
}
/*# sourceMappingURL=about.css.map */