/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: pink;
}

nav {
  position: relative;
  overflow: hidden;
  padding: 0 100px;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.48);
          box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.48);
  background: linear-gradient(120deg, #9253ff, #418BFE);
}

nav h4 {
  display: inline-block;
  float: left;
  height: 100%;
  width: auto;
  padding: 0 50px;
  color: #2C3E50;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  position: relative;
}

nav h4::after {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  right: 0px;
  top: 10px;
  bottom: 10px;
  width: 1px;
}

nav ul {
  display: inline-block;
  width: auto;
  float: right;
  height: 100%;
  overflow: hidden;
  margin-right: calc(2 * 100px);
}

nav ul li {
  list-style: none;
  display: inline-block;
  width: auto;
  height: 100%;
  padding: 0 22.5px;
  margin-right: 5px;
}

nav ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16.2px;
  font-weight: 500;
  line-height: 60px;
  color: rgba(248, 248, 255, 0.99);
}

nav ul li a.donate {
  background: -webkit-gradient(linear, left top, right top, from(#AA0FE7), to(#3819AC));
  background: linear-gradient(90deg, #AA0FE7, #3819AC);
  width: 120px;
  height: 45px;
  line-height: 45px;
  border-radius: 30px;
}

nav ul li.list-donate:hover a.donate {
  background: -webkit-gradient(linear, left top, right top, from(#AA0FE7), color-stop(#a10ddb), to(#8e09c2));
  background: linear-gradient(90deg, #AA0FE7, #a10ddb, #8e09c2);
}

nav ul li:hover a:not(.donate)::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10px;
  height: 1px;
  border-bottom: 2px dotted white;
}

.hamburger {
  display: none;
}

@media (max-width: 1183px) {
  nav {
    padding: 0 3%;
  }
  nav ul {
    margin-right: 3%;
  }
  nav ul li {
    margin-right: 0px;
  }
}

@media (max-width: 1014px) {
  nav {
    padding: 0 1%;
  }
  nav ul {
    margin-right: 1%;
  }
}

@media (max-width: 960px) {
  nav {
    padding: 0 5%;
    overflow: visible;
    position: static;
  }
  nav .nav-wrapper {
    -webkit-transition: 1s;
    transition: 1s;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 100%;
    background-color: white;
  }
  nav .nav-inside-wrapper {
    z-index: 1;
    -webkit-transition: 1s;
    transition: 1s;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: white;
  }
  nav ul {
    overflow: visible;
    margin-right: 0px;
    padding: 0px;
    background-color: white;
    height: auto;
    left: 0px;
    right: 0px;
    top: 50%;
    padding-bottom: 10px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
  }
  nav ul li {
    display: block;
    margin-right: 0px;
    padding: 0px;
  }
  nav ul li a {
    color: black;
  }
  nav ul li:hover a:not(.donate)::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 10px;
    height: 1px;
    border-bottom: 2px dotted black;
  }
  .list-donate {
    display: block;
    text-align: center;
  }
  .list-donate a {
    text-align: center;
    margin: auto;
    color: white;
  }
  /* hamburger */
  .hamburger {
    display: block;
    width: 50px;
    height: 50px;
    border: 0px solid white;
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 5px;
    cursor: pointer;
    -webkit-transition: 0s;
    transition: 0s;
    opacity: 1;
  }
  .hamburger .line {
    display: block;
    width: 50%;
    height: 1px;
    background-color: rgba(90, 90, 90, 0.9);
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 25%;
    -webkit-transition: 1s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .line:first-of-type {
    top: 7px;
  }
  .line:nth-of-type(2) {
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
    top: 15px;
  }
  .line:last-of-type {
    top: 24px;
  }
}
/*# sourceMappingURL=homepage.css.map */